header {
  display: inline-block;
  width: 100%;
  height: 100px;
  font-family: $comp-font;
  font-weight: $font-weight-heavy;
  font-size: $font-size-lg;
  .Header__logo {
    display: inline-block;
    margin: 3rem 0 0 10%;
    letter-spacing: -2px;
    color: $white;
  }
  .Header__social-icons {
    position: relative;
    float: right;
    margin: 3rem 10% 0 0;
    z-index: 10;
    ul {
      li {
        display: inline;
        margin-right: 2rem;
        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }
  }
}

header a, footer a {
  text-decoration: none;
  color: $white;
  transition: all 200ms ease;
  &:hover {
    color: $gray;
  }
}

footer {
  background: #333;
  color: #fff;
  font-family: $comp-font;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  .Footer__social-icons {
    float: right;
    ul li {
      display: inline;
      margin-right: 2rem;
      font-size: $font-size-md;
      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }
  p {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 600px) {
  header .Header__social-icons ul li {
    text-align: center;
    display: block;
    margin: 0 0 20px 0;
  }
}

@media screen and (max-width: 400px) {
  footer {
    font-size: $font-size-sm;
    ul li {
      font-size: 1.2rem;
    }
  }
}