header {
  display: inline-block;
  width: 100%;
  font-size: $font-size-lg;
  font-family: $comp-font;
  font-weight: $font-weight-heavy;
}

.Header__logo {
  display: inline-block;
  margin: 3rem 0 0 10%;
  letter-spacing: -1px;
  color: $white;
}

.Header__social-icons {
  float: right;
  ul {
    margin: 3rem 10% 0 0;
    li {
      display: inline;
      margin-right: 2rem;
      &:nth-child(3) {
        margin-right: 3rem;
      }
    }
  }
}

header a {
  text-decoration: none;
  color: $white;
  transition: all 100ms ease;
  &:hover {
    color: $gray-dk;
  }
}
