@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$base-font: 'Roboto', 'Arial', sans-serif;

// Weights
$font-weight-heavy: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Sizes
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
